body{
    background-color: grey;
    display:grid;
}

button{
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

textarea{
    resize: none;
    margin: 5vw 5vw 5vw 5vw;
    text-align: center;
    padding-top: 4vw;
    border-radius: 2vw;
    border: none;
    font-size: 5vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.resultado{
    background-color: rgb(70, 70, 70);
    margin: 5vw 5vw 5vw 5vw;
    display: inline;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5vw 5vw 2vw 5vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resultado button{
    font-family: monospace;
    background-color: rgb(70, 70, 70);
    border: none;
    font-size: 5vw;
    color: grey;
    margin: 0px;
    box-shadow: none;
}

.resultado h1{
    padding: -20vw 0vw 5vw -5vw;
    text-align: center;
}

#jogo button{
    width: 15vw;
    height: 15vw;
    border-radius: 2vw;
    border: none;
    font-family: monospace;
    font-size: 5vw;
    color: black;
    margin: 0vw;
}

h1{
    font-family: monospace;
}

#jogo{
    display: flex;
    justify-content: space-between;
    margin: 5vw 5vw 5vw 5vw;
}

select{
    margin: 5vw 5vw 5vw 5vw;;
    height: 15vw;
    text-align: center;
    font-family: monospace;
    font-size: 5vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
    margin: 5vw 5vw 5vw 5vw;;
    height: 15vw;
    text-align: center;
    font-family: monospace;
    font-size: 5vw;
    border-radius: 2vw;
    border: none;
    color: black;
}